<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>About</h1>
    <a href="/">HOME</a>
    <a href="works">WORKS</a>
    <p>
      Miles Dewey Davis III (May 26, 1926 – September 28, 1991) was an American
      trumpeter, bandleader, and composer. He is among the most influential and
      acclaimed figures in the history of jazz and 20th-century music. Davis
      adopted a variety of musical directions in a five-decade career that kept
      him at the forefront of many major stylistic developments in jazz.
    </p>
    <p>Born: May 26, 1926, Alton, Illinois, United States</p>
    <p>Died: September 28, 1991, Santa Monica, California, United States</p>
    <p>Most famous songs: 'So What', 'Blue in Green' and 'Flamenco Sketches'</p>
    <img src="images/Young Miles.jpg" alt="Young Miles" />
  </body>
</html>
