<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Works</h1>
    <a href="/">HOME</a>
    <a href="about">ABOUT</a>
    <h2>Kind of Blue</h2>
    <img src="/images/Kind of Blue.jpg" alt="Kind of blue" />
    <h2>Sketches of Spain</h2>
    <img src="/images/Sketches of Spain.jpg" alt="Sketches of Spain" />
    <h2>Live performance, Milan, 1964.</h2>
    <iframe
      width="500"
      height="300"
      src="https://www.youtube.com/embed/fBoHkB92SU0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </body>
</html>
